/* Colors */
/* Fonts */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Alerts */
.input-alert {
  color: #cc3300;
}

/* Section Global */
section {
  display: none;
}

.section-active {
  display: block;
}

/* Body */
body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  min-height: 100vh;
}

body::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(#000000 15%, transparent 16%) 0 0, radial-gradient(#000000 15%, transparent 16%) 8px 8px, radial-gradient(#477148 15%, transparent 20%) 0 1px, radial-gradient(#477148 15%, transparent 20%) 8px 9px;
  background-color: #000000;
  background-size: 16px 16px;
  filter: brightness(40%);
  z-index: -1;
}

/* Header */
.navigation {
  color: #FFFFFF;
  padding: 20px 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-flex-align: center;
      align-items: center;
}

.navigation .logo-text a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 2rem;
  line-height: 2rem;
}

.navigation ul {
  list-style: none;
  font-size: 1.2rem;
  text-align: right;
  padding-right: 20px;
  line-height: 2rem;
}

.navigation ul li {
  display: inline-block;
  padding-left: 20px;
  cursor: pointer;
  vertical-align: middle;
}

.navigation ul li:first-of-type {
  padding-left: 0px;
}

.navigation ul li .player-avatar {
  border-radius: 50%;
  height: 50px;
}

.navigation ul .player-details {
  display: none;
}

.navigation ul .player-name {
  display: none;
}

.navigation ul .player-show {
  display: inline-block;
}

/* Start Game */
#start {
  text-align: center;
}

#start .wrapper {
  padding-bottom: 100px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

#start .wrapper .photo-header {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: -50px;
  height: 200px;
  z-index: 2;
}

#start .wrapper .photo-header img {
  height: 100%;
}

#start .wrapper .content {
  width: 800px;
  background-color: #FFFFFF;
  color: #000000;
  padding-top: 70px;
  border-radius: 20px;
}

/* Form */
form {
  margin: 20px 0 0 0;
}

form .input-group {
  margin-bottom: 10px;
}

form .input-group label small {
  display: block;
  margin-bottom: 10px;
}

form .input-group label .consent {
  display: inline-block;
  cursor: pointer;
}

form .input-group label input {
  width: 350px;
  line-height: 2rem;
  border: 1px solid #777777;
  border-radius: 5px;
  text-align: center;
  background-color: #477148;
  color: #FFFFFF;
}

form .input-group label input:focus {
  outline: none;
}

form .input-group label .terms-condition {
  width: 30px;
}

form .input-group .input-alert {
  display: none;
}

form .input-group .input-alert-show {
  display: block;
}

form button {
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #477148;
  border: none;
  border-radius: 5px;
}

/* Player Choice */
.avatar-choice-headline {
  font-size: smaller;
}

.avatar-choice {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 15px;
  padding: 10px 10px;
  margin: 0px 100px;
}

.avatar-choice .avatar {
  border: 1px solid #777777;
  border-radius: 10px 10px 5px 5px;
  cursor: pointer;
}

.avatar-choice .avatar input {
  display: none;
}

.avatar-choice .avatar:hover .avatar-photo img {
  filter: brightness(100%);
}

.avatar-choice .avatar .avatar-photo img {
  -ms-flex-positive: 1;
      flex-grow: 1;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0px 0px;
  filter: brightness(70%);
  transition: filter 1s;
}

.avatar-choice .avatar .avatar-content {
  font-size: 12px;
  padding: 5px 5px;
}

.avatar-choice .avatar .avatar-content .name {
  padding-bottom: 5px;
}

.avatar-choice .avatar .avatar-content .description {
  font-size: 8px;
}

.avatar-choice .avatar-active {
  background-color: #477148;
  color: #FFFFFF;
}

.avatar-choice .avatar-active .avatar-photo img {
  filter: brightness(100%);
}

/* Points grid */
/* Cards, Choice & Points grid */
.card-wrapper {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
}

.card-wrapper .card-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 20px;
  padding: 0 50px;
  margin: 20px 0;
}

.card-wrapper .card-grid .card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background-color: #FFFFFF;
  color: #477148;
  text-align: center;
  height: 270px;
  width: 200px;
  margin-bottom: 50px;
  border-radius: 10px;
}

.card-wrapper .card-grid .card img {
  height: 100%;
}

.card-wrapper .card-grid .card-choosen {
  margin-top: 50px;
  margin-bottom: 0px;
  -ms-flex-pack: bottom;
      justify-content: bottom;
  -ms-flex-align: bottom;
      align-items: bottom;
}

.card-wrapper .points-grid {
  font-size: 10px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 5px;
  margin: 0 100px;
  padding-bottom: 20px;
}

.card-wrapper .points-grid .combination {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.card-wrapper .points-grid .combination .name {
  text-align: left;
  padding: 5px 0 5px 10px;
  border-bottom: 1px solid #477148;
}

.card-wrapper .points-grid .combination .points {
  padding: 5px 0;
  border-bottom: 1px solid #477148;
}

.card-wrapper .points-grid .combination-won {
  background-color: #477148;
  color: #FFFFFF;
  font-weight: bold;
}

.card-wrapper .choice-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 20px;
  padding: 0 50px;
  margin-top: 50px;
}

.card-wrapper .choice-grid .choice {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background-color: #477148;
  color: #FFFFFF;
  padding: 5px 0;
  border-radius: 10px;
  height: 30px;
  cursor: pointer;
}

.card-wrapper .choice-grid .choice p {
  display: none;
}

.card-wrapper .choice-grid .choice .text-show {
  display: block;
}

.card-wrapper .choice-grid .choice-active {
  background-color: #ffc700;
  color: #000000;
}

/* Balance Card */
.balance-card {
  position: fixed;
  top: 30%;
  right: 0%;
  background-color: #477148;
  color: #FFFFFF;
  width: 320px;
  margin-right: -240px;
  padding: 10px 10px;
  border-radius: 10px 0 0 10px;
  transition: margin-right 2s;
  cursor: pointer;
}

.balance-card:hover {
  margin-right: 0px;
}

.balance-card .balance-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 20px;
  -ms-flex-align: center;
      align-items: center;
}

.balance-card .balance-grid .balance-history p {
  margin-bottom: 5px;
}

.balance-card .balance-grid .balance-history .balance-history-list {
  list-style: none;
}

.balance-card .balance-grid .balance-history .balance-history-list li {
  font-size: 12px;
}

.balance-card .balance-grid .balance-history .balance-history-list li a {
  text-decoration: none;
  color: #FFFFFF;
}

/* Play Card Game  */
.play-cards {
  position: fixed;
  top: 60%;
  right: 0%;
  background-color: #477148;
  border-radius: 10px 0 0 10px;
  text-align: center;
  cursor: pointer;
}

.play-cards p {
  padding: 10px 15px;
  display: none;
}

.play-cards .play-tip {
  font-size: 0.8rem;
  padding-top: 0;
  display: block;
}

.play-cards .play-active {
  display: block;
}

/* Clicked Card Option */
.clicked-play-card {
  background-color: #ffc700;
  color: #000000;
}

/* Footer */
footer {
  position: absolute;
  width: 100%;
  bottom: 1%;
  color: #FFFFFF;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  padding: 20px 20px;
}

footer .social-icons {
  text-align: right;
  padding-right: 20px;
}

footer .social-icons i {
  padding-left: 30px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */