*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Colors */

$color-one: #477148;
$color-warning: #cc3300;
$color-light:#FFFFFF;
$color-dark: #000000;
$color-gray: #777777;
$color-gray-background: #F7F7F7;

/* Fonts */

$font-one: 'Raleway', sans-serif;
$font-two: 'Montserrat', sans-serif;

/* Alerts */

.input-alert {
  color: $color-warning;
}

/* Section Global */

section {
  display: none;
}
.section-active {
  display: block;
}

/* Body */

body {
  position: relative;
  font-family: $font-two;
  font-size: 16px;
  color: $color-light;
  min-height: 100vh;
  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:
    radial-gradient($color-dark 15%, transparent 16%) 0 0,
    radial-gradient($color-dark 15%, transparent 16%) 8px 8px,
    radial-gradient($color-one 15%, transparent 20%) 0 1px,
    radial-gradient($color-one 15%, transparent 20%) 8px 9px;
    background-color:$color-dark;
    background-size:16px 16px;
    filter: brightness(40%);
    z-index: -1;
  }  
}

/* Header */

.navigation {
  color: $color-light;
  padding: 20px 20px;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
  align-items: center;
  .logo-text {
      a {
          color: $color-light;
          text-decoration: none;
          font-size: 2rem;
          line-height: 2rem;
      }      
  }
  ul {
      list-style: none;
      font-size: 1.2rem;
      text-align: right;
      padding-right: 20px;
      line-height: 2rem;
      
      li {
          display: inline-block;
          padding-left: 20px;
          cursor: pointer;
          vertical-align: middle;
          
          &:first-of-type {
              padding-left: 0px;
          }
          .player-avatar {
            border-radius: 50%;
            height: 50px;
          }
      }
      
  }
}

/* Start Game */

#start {
  text-align: center;
  .wrapper {
    padding-bottom: 100px;
    .photo-header {
      margin-bottom: -50px;
      height: 200px;
      
      img {
        height: 100%;
      }
    }
    .content {
      margin: 0 30vw;
      background-color: $color-light;
      color: $color-dark;
      padding-top: 70px;
      border-radius: 20px;
    }
  }
}

/* Form */

form {
  margin: 20px 0 0 0;
  .input-group {
    margin-bottom: 10px;
    label {
      small {
        display: block;
        margin-bottom: 10px;
      }
      .consent {
        display: inline-block;
        cursor: pointer;
      }
      input {
        width: 350px;
        line-height: 2rem;
        border: 1px solid $color-gray;
        border-radius: 5px;
        text-align: center;
        background-color: $color-one;
        color: $color-light;
        &:focus {
          outline: none;
        }
      }
      .terms-condition {
        width: 30px;
      }
    }
    .input-alert {
      display: none;
    }
    .input-alert-show {
      display: block;
    }
  }
  button {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    color: $color-light;
    background-color: $color-one;
    border: none;
    border-radius: 5px;
  }
}

/* Player Choice */

.avatar-choice-headline {
  font-size: smaller;
}
.avatar-choice {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 15px;
  padding: 10px 10px;
  margin: 0px 100px;
  .avatar {
    border: 1px solid $color-gray;
    border-radius: 10px 10px 5px 5px;
    cursor: pointer;
    &:hover .avatar-photo img {
      filter: brightness(100%);
    }
    .avatar-photo {
      img {
        flex-grow: 1;
        width: 100%;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        border-radius: 10px 10px 0px 0px;
        filter: brightness(70%);
        transition: filter 1s;
      }
    }
    .avatar-content {
      font-size: 12px;
      padding: 5px 5px;
      .name {
        padding-bottom: 5px;
      }
      .description {
        font-size: 8px;
      }
    }
  }
  .avatar-active {
    background-color: $color-one;
    color: $color-light;
    .avatar-photo {
      img {
        filter: brightness(100%);
      }
    }
  }
}

/* Balance Card */

.balance-card {
  position: fixed;
  top: 30%;
  right: 0%;
  background-color: $color-one;
  color: $color-light;
  width: 300px;
  margin-right: -240px;
  padding: 10px 10px;
  border-radius: 10px 0 0 10px;
  transition: margin-right 2s;
  cursor: pointer;
  &:hover {
    margin-right: 0px;
  }
  .balance-grid {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    grid-gap: 20px;
    align-items: center;
    .balance-history {
      p {
        margin-bottom: 5px;
      }
      .balance-history-list {
        list-style: none;
        li {
          font-size: 12px;
          a {
            text-decoration: none;
            color: $color-light;
          }
        }
      }
    }
  }
}

/* Footer */

footer {
  position: absolute;
  width: 100%;
  bottom: 1%;
  color: $color-light;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  padding: 20px 20px;
  .social-icons {
      text-align: right;
      padding-right: 20px;
      i {
          padding-left: 30px;
          cursor: pointer;
      }
  }
}