/* Card grid */

.card-wrapper {
  position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
  .card-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    padding: 0 50px;
    margin: 20px 0;
    .card {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-light;
      color: $color-one;
      text-align: center;
      height: 270px;
      width: 200px;
      margin-bottom: 50px;
      border-radius: 10px;
      img {
        height: 100%;
      }
    }
    .card-choosen {
      margin-top: 50px;
      margin-bottom: 0px;
      justify-content: bottom;
      align-items: bottom;
    }
  }
  .choice-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    padding: 0 50px;
    margin-top: 50px;
    .choice {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-one;
      color: $color-light;
      padding: 5px 0;
      border-radius: 10px;
      cursor: pointer;
    }
    .choice-active {
      background-color: $color-two;
      color: $color-dark;
    }
  }
}


/* Balance Card */

.balance-card {
  position: fixed;
  top: 30%;
  right: 0%;
  background-color: $color-one;
  color: $color-light;
  width: 300px;
  margin-right: -240px;
  padding: 10px 10px;
  border-radius: 10px 0 0 10px;
  transition: margin-right 2s;
  cursor: pointer;
  &:hover {
    margin-right: 0px;
  }
  .balance-grid {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    grid-gap: 20px;
    align-items: center;
    .balance-history {
      p {
        margin-bottom: 5px;
      }
      .balance-history-list {
        list-style: none;
        li {
          font-size: 12px;
          a {
            text-decoration: none;
            color: $color-light;
          }
        }
      }
    }
  }
}

/* Play Card Game  */

.play-cards {
  position: fixed;
  top: 60%;
  right: 0%;
  background-color: $color-one;
  border-radius: 10px 0 0 10px;
  text-align: center;
  cursor: pointer;
  p {
    padding: 10px 15px;
    display: none;
  }
  .play-tip {
    font-size: 0.8rem;
    padding-top: 0;
    display: block;
  }
  .play-active {
    display: block;
  }
}

/* Clicked Card Option */ 

.clicked-play-card {
  background-color: $color-two;
  color: $color-dark;
}