/* Colors */

$color-one: #477148;
$color-two: #ffc700;
$color-warning: #cc3300;
$color-light:#FFFFFF;
$color-dark: #000000;
$color-gray: #777777;
$color-gray-background: #F7F7F7;

/* Fonts */

$font-one: 'Raleway', sans-serif;
$font-two: 'Montserrat', sans-serif;

/* Break Points */

$break-1280px: '1280px';
$break-980px: '980px';
$break-736px: '736px';
$break-480px: '480px';
$break-650px: '650px';

@media all and (max-width: $break-1280px) { 

}
@media all and (max-width: $break-980px) { 

}
@media all and (max-width: $break-736px) { 

}
@media all and (max-width: $break-650px) { 

}